<div class="index-wrapper">
  <div class="container">
    <div class="index-content">
      <%=form_tag "/",class:"form_test" do%>
        <input type="text" name="" value="">
        <input type="submit" name="" value="検索">
      <%end%>
      <%=form_tag "/",class:"sort_form" do%>
        <select name="sort_box" required>
          <option value="update">更新日</option>
          <option value="follow">フォロー人数</option>
        </select>
      <%end%>
      <div class="clear">
      </div>
      <p class="search-number">X件見つかりました</p>
      <p class="search-number">yで検索</p>
      <div class="clear"></div>
        <ul>
          <%@user_list=@user.size+(4*@id.to_i)%>
          <%for i in 0...@user_list do%>
            <li>
              <div class="li-content">
                <a href="/user/<%=@user[i].id%>/show">
                  <img src="/<%=@user[i].image%>" alt="">
                  <div class="li-box">
                    <h2>name</h2>
                    <%birth=@user[i].created_at%>
                    <span class="right">登録日 : <%=birth.year%>年<%=birth.mon%>月<%=birth.day%>日</span>
                    <div class="description">
                      <%=@user[i].description%>
                    </div>
                  </div>
                </a>
              </div>
              <span class="li-bottom">フォロワー<%=%>人 最終ログイン歴　：　<%=%>日以内</span>
            </li>
          <%end%>
        </ul>
        <div class="switch">
          <%x=@user.size.to_i%>
          <%button_total=(x-1)/4+1%>
          <%for i in 1..button_total do%>
          <a href="/user/<%=i-1%>/index"><%=i%></a>
          <%end%>
        </div>
        <!--
        4＋１で１カウントとしていく。
       -->
      </div>
    </div>
  </div>
</div>
<!--hogehoge in write  -->
