
<div class="character_name_history-wrapper">
  <div class="container">
    <div class="character_name_history-content">
      <div class="character-bord">
        <div class="sub-characters">
          <div class="sub-character">
            <%$counts=0%>
            <div class="sub-character-content">
              <a href="/mypage/<%=@user.id%>/relation"><img class="character-list-big" src="/<%=@user.image%>" alt="<%=@user.name%>"></a>
              <%for i in 0..@character.size-1 do%>
                <%@character_user=User.find_by(id: @character[i].character_id)%>
                <a href="/mypage/<%=@character_user.id%>/relation"><img class="character-list" src="/<%=@character_user.image%>" alt="<%=@character_user.name%>"></a>
                <%$counts+=1%>
              <%end%>
              <style media="screen">
                .sub-character-content{
                  width:calc(70px * (<%=$counts%> + 1) + 100px)
                }
              </style>
            </div>
          </div>
        </div>
        <div class="link-group">
          <a class="profile-editing" href="#">プロフィール<br>編集</a>
          <a class="character-new-create" href="#">キャラクター新規作成</a>
          <a class="main-character-change" href="#">メインキャラ変更</a>
        </div>
      </div>
      <!-- character-bordここまで -->
      <div class="character_name_history-box">
        <h1>「キャラの名前」の経歴</h1>
        <p>あらすじ</p>
        <span class="time_series">時　系　列</span>
        <span class="event">事　　象</span>
        <%=form_tag "/mypage/character_name_history" do%>
          <%@history.each do|i|%>
          <span class="mypage-form-content">
            <textarea class="left" name="time_series<%=i.id%>" rows="5"><%begin%><%=i.time_series%><%rescue%><%end%></textarea>
            <input type="hidden" name="times_series_id" value="<%=i.id%>">
            <textarea class="right" name="event<%=i.id%>" rows="5"><%begin%><%=i.event%><%rescue%><%end%></textarea>
            <%=link_to "削除", "/mypage/#{i.id}/character_history_destroy", class: "mypage-delete-button", method: :post%>
          </span>
          <%end%>
          <%=link_to "行の追加","/mypage/insert_box", class: 'add_a_row', method: :post%>
        <div class="clear">

        </div>
        <input type="submit" class="save-changes" value="変更保存">
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class="DMComposer-editor tweet-box rich-editor js-initial-focus is-showPlaceholder" data-default-placeholder="新しいメッセージをはじめる" data-attachment-placeholder="引用ツイート（コメントを追加）" data-from-message-me-card-placeholder="メッセージで返信" id="tweet-box-dm-conversation" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="false" dir="ltr" aria-label="メッセージの送信先: カキイカダさん"><div><br></div></div>
