

<div class="hide_setting-wrapper">
  <div class="hide_setting-content">
    <div class="container">
      <div class="hide_setting-content">
        <h1>非表示項目の設定</h1>
        <!-- ラジオボタンフォーム（R18設定）
            form = hide_settings-->
        <%=form_tag "/mypage/hide_setting_form_radio" do%>
          <input type="hidden" name="id" value="<%=@hide_setting.user_id%>">
          <div class="form-radio-style">
            <div class="ng_word_submit_box">
              <h2 class="ng_word_title">R-18項目の閲覧</h2>
              <input class="submit" type="submit" name="submit" value="変更保存">
            </div>
            <%if @hide_setting.r_18_content==1%>
            <p class="form-radio"><input type="radio" name="r_18" value="1" id="radio_form_yes" checked><label for="radio_form_yes">表示する</label></p>
            <%else%>
            <p class="form-radio"><input type="radio" name="r_18" value="1" id="radio_form_yes"><label for="radio_form_yes">表示する</label></p>
            <%end%>

            <%if @hide_setting.r_18_content==0%>
            <p class="form-radio"><input type="radio" name="r_18" value="0" id="radio_form_no" checked><label for="radio_form_no">表示しない</label></p>
            <%else%>
            <p class="form-radio"><input type="radio" name="r_18" value="0" id="radio_form_no"><label for="radio_form_no">表示しない</label></p>
            <%end%>
          </div>
          <div class="form-radio-style">
            <%if @hide_setting.r_18g_content==1%>
            <p class="form-radio"><input type="radio" name="r_18g" value="1" id="radio_form2_yes" checked><label for="radio_form2_yes">表示する</label></p>
            <%else%>
            <p class="form-radio"><input type="radio" name="r_18g" value="1" id="radio_form2_yes"><label for="radio_form2_yes">表示する</label></p>
            <%end%>

            <%if @hide_setting.r_18g_content==0%>
            <p class="form-radio"><input type="radio" name="r_18g" value="0" id="radio_form2_no" checked><label for="radio_form2_no">表示しない</label></p>
            <%else%>
            <p class="form-radio"><input type="radio" name="r_18g" value="0" id="radio_form2_no"><label for="radio_form2_no">表示しない</label></p>
            <%end%>
          </div>
          <%end%>
          <div class="hide_setting_border"></div>
          <!-- NGワードフォーム
              form = hide_word-->
          <%=form_tag '/mypage/hide_setting_form_ng_word' do%>
          <input type="hidden" name="id" value="<%=@hide_setting.user_id%>">
          <div class="ng_word_submit_box">
            <h2 class="ng_word_title">非表示ワード</h2>
            <input class="submit" type="submit" name="submit" value="変更保存">
          </div>
          <div class="small-input">
            <small>追加</small>
            <div class="ng_word_box" contenteditable="true">
            </div>
            <span class="append-link" id="hide_setting_append_link">追加</span>
            <!-- 追加 -->
            <%end%>

            <div class="clear"></div>
            <div class="append-input-box">
              <%@hide_word.each do|i|%>
                  <div class="span-box"><%=i.hide_word%>
                  <a class="delete_input" href="/mypage/<%=i.user_id%>/<%=i.hide_id%>/destroy">削除</a>
                </div>

              <%end%>
              <%$count=@hide_word.size%>
            </div>
            <script type="text/javascript">
            // var i=1
            // $(document).on('click', '#hide_setting_append_link', function(){
            //   var ng_word_box=$(".ng_word_box").text()
            //   var set_num=$("append-input-box input").length+i
            //   $(".append-input-box").append('<input type="text" name="hide_word['+set_num+']" value="'+ng_word_box+'"><a class="delete_input" href="/mypage/<%=@user_id%>/'+(<%=@hide_word.size%>+i)+'/destroy">削除</a>');
            //   i+=1
            // });
            </script>
          </div>
          <div class="clear">

          </div>
      </div>
    </div>
  </div>
</div>
