<!DOCTYPE html>
<html>
  <head>
    <title>MyT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    </head>
  <body>
    <header>
      <div class="container">
        <a id="top-link" href="/">myTbase</a>
      </div>
      <div class="links">
        <a class="link" href="/borad/index">なりきり掲示板</a>
        <a class="link" href="/user/0/index">キャラ一データ</a>
        <%if session["login_check"]==nil%>
        <div class="small-box">
          <a class="small-link" href="/login">ログイン</a>
          <a class="small-link" href="/logout">ヘルプ</a>
        </div>
        <%else%>
        <a class="link" href="/mypage/<%=@user.id%>/myroom">マイページ</a>
        <div class="small-box">
          <a class="small-link" href="/logout">ログアウト</a>
          <a class="small-link" href="/logout">ヘルプ</a>
        </div>
        <%end%>
      </div>

    </header>
    <div class="height-90">
    </div>
    <!-- ここからmypageレイアウト -->
    <script type="text/javascript">
      $(function(){
        $(".button-right").click(function(){
          var sl=$(".sub-character").scrollLeft();
          $(".sub-character").animate({scrollLeft:sl + 50},300,"swing");
          setTimeout(function(){
            $(".button-left").show();
          },300);
          setTimeout(function(){
            var countSpan=$(".character-list").length;
            countTotal=countSpan*55
            if($(".sub-character").scrollLeft()==countTotal){
              $(".button-right").hide();
            }
          },300);
        });
        $(".button-left").click(function(){
          var sl=$(".sub-character").scrollLeft();
          $(".sub-character").animate({scrollLeft:sl - 50},300,"swing");
          setTimeout(function(){
            $(".button-right").show();
          },300);
          setTimeout(function(){
            if($(".sub-character").scrollLeft()==0){
              $(".button-left").hide();
            }
          },300);

        });
        if($(".sub-character").scrollLeft()==0){
          $(".button-left").hide();
        }
      });
    </script>
    <div class="mypage-wrapper">
      <span class="mypage-icon"></span>


      <div class="mypage-list-wrapper">
        <div class="mypage-list">
          <h1>マイページ</h1>
          <div class="center-box">
            <img class="image-box" src="/<%=@user.image%>" alt="">
            <div class="sub-characters">
              <span class="button-left"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
              <span class="button-right"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
              <div class="sub-character">
                <p>サブキャラクター</p>
                <%$count=0%>
                <div class="sub-character-content">
                  <img class="character-list" src="/<%=@user.image%>" alt="">
                  <%for i in 0..@character.size-1 do%>
                  <%@character_user=User.find_by(id: @character[i].character_id)%>
                  <img class="character-list" src="/<%=@character_user.image%>" alt="">
                  <%$count+=1%>
                  <%end%>
                  <style media="all">

                  .sub-character-content{
                    width:calc(60px * <%=$count%> + 70px)
                  }

                  </style>

                </div>

              </div>
            </div>
            <a class="change-character" href="#">メインキャラに変更</a>
            <div class="profile-button">
              <a class="profile-buttons" href="#">プロフィールの<br>確認・変更</a>
            </div>
            <a class="follow-user" href="#">フォローユーザー</a>
            <ul>
              <li><span>_</span><a href="#">お気に入り部屋</a></li>
              <li><span>_</span><a href="#">自分で立てた部屋</a></li>
              <li><span>_</span><a href="#">使用履歴</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mypage-content">
      </div>
      <div class="mypage-contents">
        <%= yield %>
      </div>
    </div>

    <!-- ここまで -->
    <div style="clear:both;">

    </div>
    <footer id="help-footer-bottom">
      <div class="container">
      </div>
    </footer>
  </body>
</html>
